// This file full of sass variables can be imported from multiple places.

// Set your brand colors
$primary: #00d1b2
$green: #098e3c
$purple: #9115e3
$orange: #db8e13

$link-color-navbar-transparent: #fff
$featured-blog-bkg-color: #d6400033